body {
background-image: url(aurora-borealis-1181004_1280.jpg);
  
/* Background image is centered vertically and horizontally at all times */
background-position: center center;

/* Background image doesn't tile */
/*background-repeat: no-repeat;

/* Background image is fixed in the viewport so that it doesn't move when 
 the content's height is greater than the image's height */
background-attachment: fixed;

/* This is what makes the background image rescale based
 on the container's size */
background-size: cover;

/* Set a background color that will be displayed
 while the background image is loading */
background-color: #464646;


}

html, body {
   height: 100%;
   width: 100%;
   margin: 0;
   padding: 0;
}

.container {
position: relative;
height: 100vh;
font-family: Calibri;
font-size: 30px;
display: flex;
align-items: center;
justify-content: center;

}

.container h1 {
text-decoration: underline;
 


}

.container h2 {
font-size: 1.2em;
text-decoration: underline;

}

#projectbutton{
position: absolute;
top: 65%;
left: 32%;
background-color: transparent;
border-radius: 4px;
height: 5%;
width: auto;
border: 2px solid black;
font-family: Calibri;
font-size: 0.8em;
}

#aboutbutton{
position: absolute;
top: 65%;
left: 57%;
background-color: transparent;
border-radius: 4px;
height: 5%;
width: auto;
border: 2px solid black;
font-family: Calibri;
font-size: 0.8em;
}

.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content/Box */
.modal-content {
  background-color: rgb(105, 28, 135);
  margin: auto; /* 15% from the top and centered */
  padding: 10px;
  border: 1px solid #888;
  width: 60%; /* Could be more or less, depending on screen size */
  height: auto;
  color: white;
  font-family: Courier New;
  text-align: center;
}

/* The Close Button */
.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}


#StockSortedsample {
  position: relative;
height: auto;
width: 60%;
}


#contactme{
background-color: transparent;
border-radius: 4px;
height: auto;
width: auto;
border: 2px solid black;
font-family: Calibri;
font-size: 2em;
margin-top: 20px
}

#border { 
position: absolute; 
width: 40%;
height: auto;
border: 2px solid black;
top: 20%;
left: 30%;
padding: 0px;
text-align: center;
}